<div class="span8 rojo ">


				<div class="formul span11">
					<br>
					<p class="nesesitamos">Ingresa los datos de tu tarjeta de credito </p>
					<div class="row-fluid ">
						Número de tarjeta: 
						<input type="text" class="campos" maxlength="50" size="2" ng-model="datos.nombre" required name="name" >
					</div>	
					<br>
					<div class="row-fluid ">
						Titular: 
						<input type="text" class="campos" maxlength="50" size="2" ng-model="datos.nombre" required name="name" >
					</div>	
					<br>
					<div class="row-fluid ">
						Fecha de vencimiento: 
						<input type="text" class="campos" maxlength="2" size="2" ng-model="datos.nombre" required name="name" >
					</div>	
					<br>
					<div class="row-fluid ">
						Código de seguridad: 
						<input type="text" class="campos" maxlength="50" size="2" ng-model="datos.nombre" required name="name" >
					</div>	
					<br>
					<br>
					<button type="button" class="btn">Siguiente</button>
					<button type="button" class="btn" ng-click="contratarForm();">Contratar</button>
				</div>

			</div>
			<div class="span4 azul">
				<img src="images/banner-lateral.jpg" alt="ersponde por ti" class="responde">
				<div class="into-azul">

					<div row-fluid class="datos">
						<input id="_Nombre" class="cotiza_nombre" type="text" value="" maxlength="50" size="15" name="data[Contacto][nombre]"> <br> <br>
						<input name="data[Telefono][lada]" class="cotiza_lada" class="cotizador2" value="55" size="5" maxlength="5" id="_Lada" type="text">
						<input name="data[Telefono][telefono]" class="cotiza_telefono" size="10" maxlength="20" id="_Telefono" value="" type="text">

					</div>

				</div>
				<input type="submit" class="fecha" value="Enviar">
			</div>