<div class="span12 rojo ">


				<div class="formul span6">
					<br>
					<p class="nesesitamos" ng-show="data.tipo_envio == 'email'">¡Muy bien ! Eso es todo por ahora. <br> Ya enviamos tu cotización al email {{data.datos.email}}.</p>
					<p class="nesesitamos" ng-show="data.tipo_envio == 'fax'">¡Muy bien ! Eso es todo por ahora. <br> Te enviaremos tu cotización por fax al {{data.fax}} lo antes posible.</p>
					<br>
					<p class="nesesitamos">Luego te llamaremos para confirmar que la hayas recibido bien.</p>
					<br>
					<p class="nesesitamos">Gracias y Hasta luego.</p>
					
				</div>

			</div>